.admin-enroll-list-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.admin-enroll-list-container01 {
  gap: 0;
  width: 100%;
  display: flex;
  overflow: auto;
  position: relative;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.admin-enroll-list-navlink {
  display: contents;
}
.admin-enroll-list-icon-logout {
  top: 50px;
  right: 129px;
  width: 30px;
  height: 30px;
  margin: auto;
  position: absolute;
  text-decoration: none;
}
.admin-enroll-list-text {
  top: 50px;
  right: 29px;
  position: absolute;
  font-size: 25px;
  font-family: "Poppins";
}
.admin-enroll-list-button {
  top: 30px;
  flex: 0 0 auto;
  left: 30px;
  width: 464px;
  height: 95px;
  margin: auto;
  display: flex;
  position: absolute;
}
.admin-enroll-list-navlink1 {
  top: 0px;
  left: 268px;
  width: 190px;
  bottom: 0px;
  height: 90px;
  margin: auto;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4,5px 5px 10px 0px #d4d4d4,5px 5px 10px 0px #d4d4d4,5px 5px 10px 0px #d4d4d4,5px 5px 10px 0px #d4d4d4;
  border-width: 0px;
  border-radius: 30px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.admin-enroll-list-navlink2 {
  top: 0px;
  left: 68px;
  width: 160px;
  bottom: 0px;
  height: 90px;
  margin: auto;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4,5px 5px 10px 0px #d4d4d4,5px 5px 10px 0px #d4d4d4,5px 5px 10px 0px #d4d4d4,5px 5px 10px 0px #d4d4d4;
  border-width: 0px;
  border-radius: 30px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.admin-enroll-list-students {
  top: 161px;
  left: 0px;
  right: 0px;
  width: 1920px;
  height: 630px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-radius: 20px;
  justify-content: flex-start;
}
.admin-enroll-list-container02 {
  top: 23px;
  flex: 0 0 auto;
  right: 70px;
  width: 1340px;
  height: 580px;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4,5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  border-radius: 25px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.admin-enroll-list-text01 {
  top: 40px;
  left: 90px;
  position: absolute;
  font-size: 25px;
  font-family: "Poppins";
}
.admin-enroll-list-text02 {
  top: 40px;
  left: 300px;
  position: absolute;
  font-size: 25px;
  font-family: "Poppins";
}
.admin-enroll-list-text03 {
  top: 40px;
  left: 500px;
  position: absolute;
  font-size: 25px;
  font-family: "Poppins";
}
.admin-enroll-list-text04 {
  top: 40px;
  left: 700px;
  position: absolute;
  font-size: 25px;
  font-family: "Poppins";
}
.admin-enroll-list-text05 {
  top: 40px;
  left: 900px;
  position: absolute;
  font-size: 25px;
  font-family: "Poppins";
}
.admin-enroll-list-text06 {
  top: 40px;
  right: 120px;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins";
  text-transform: uppercase;
}
.admin-enroll-list-container03 {
  top: 76px;
  flex: 0 0 auto;
  left: 61px;
  width: 1000px;
  height: 67px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 5px;
}
.admin-enroll-list-text07 {
  top: 20px;
  left: 247px;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins";
}
.admin-enroll-list-text08 {
  top: 20px;
  left: 467px;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins";
}
.admin-enroll-list-text09 {
  top: 20px;
  left: 667px;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins";
}
.admin-enroll-list-text10 {
  top: 20px;
  right: 58px;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins";
}
.admin-enroll-list-navlink3 {
  top: 20px;
  left: 10px;
  height: 26px;
  position: absolute;
  padding-top: 0px;
  border-radius: 20px;
  padding-bottom: 0px;
  text-decoration: none;
}
.admin-enroll-list-form {
  top: 76px;
  right: 50px;
  width: 200px;
  height: 69px;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: 15px;
  justify-content: center;
  background-color: #D0FFE6;
}
.admin-enroll-list-container04 {
  top: 153px;
  flex: 0 0 auto;
  left: 60px;
  width: 1000px;
  height: 67px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 5px;
}
.admin-enroll-list-text11 {
  top: 20px;
  left: 247px;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins";
}
.admin-enroll-list-text12 {
  top: 20px;
  left: 467px;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins";
}
.admin-enroll-list-text13 {
  top: 20px;
  left: 667px;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins";
}
.admin-enroll-list-text14 {
  top: 20px;
  right: 58px;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins";
}
.admin-enroll-list-button1 {
  top: 20px;
  left: 10px;
  height: 26px;
  position: absolute;
  padding-top: 0px;
  border-radius: 20px;
  padding-bottom: 0px;
  text-decoration: none;
}
.admin-enroll-list-container05 {
  top: 230px;
  flex: 0 0 auto;
  left: 60px;
  width: 1000px;
  height: 67px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 5px;
}
.admin-enroll-list-text15 {
  top: 20px;
  left: 247px;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins";
}
.admin-enroll-list-text16 {
  top: 20px;
  left: 467px;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins";
}
.admin-enroll-list-text17 {
  top: 20px;
  left: 667px;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins";
}
.admin-enroll-list-text18 {
  top: 20px;
  right: 58px;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins";
}
.admin-enroll-list-button2 {
  top: 20px;
  left: 10px;
  height: 26px;
  position: absolute;
  padding-top: 0px;
  border-radius: 20px;
  padding-bottom: 0px;
  text-decoration: none;
}
.admin-enroll-list-container06 {
  top: 307px;
  flex: 0 0 auto;
  left: 60px;
  width: 1000px;
  height: 67px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 5px;
}
.admin-enroll-list-text19 {
  top: 20px;
  left: 247px;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins";
}
.admin-enroll-list-text20 {
  top: 20px;
  left: 467px;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins";
}
.admin-enroll-list-text21 {
  top: 20px;
  left: 667px;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins";
}
.admin-enroll-list-text22 {
  top: 20px;
  right: 58px;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins";
}
.admin-enroll-list-button3 {
  top: 20px;
  left: 10px;
  height: 26px;
  position: absolute;
  padding-top: 0px;
  border-radius: 20px;
  padding-bottom: 0px;
  text-decoration: none;
}
.admin-enroll-list-container07 {
  top: 388px;
  flex: 0 0 auto;
  left: 60px;
  width: 1000px;
  height: 67px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 5px;
}
.admin-enroll-list-text23 {
  top: 20px;
  left: 247px;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins";
}
.admin-enroll-list-text24 {
  top: 20px;
  left: 467px;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins";
}
.admin-enroll-list-text25 {
  top: 20px;
  left: 667px;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins";
}
.admin-enroll-list-text26 {
  top: 20px;
  right: 58px;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins";
}
.admin-enroll-list-button4 {
  top: 20px;
  left: 10px;
  height: 26px;
  position: absolute;
  padding-top: 0px;
  border-radius: 20px;
  padding-bottom: 0px;
  text-decoration: none;
}
.admin-enroll-list-container08 {
  flex: 0 0 auto;
  left: 60px;
  width: 1000px;
  bottom: 48px;
  height: 67px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 5px;
}
.admin-enroll-list-text27 {
  top: 20px;
  left: 247px;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins";
}
.admin-enroll-list-text28 {
  top: 20px;
  left: 467px;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins";
}
.admin-enroll-list-text29 {
  top: 20px;
  left: 667px;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins";
}
.admin-enroll-list-text30 {
  top: 20px;
  right: 58px;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins";
}
.admin-enroll-list-button5 {
  top: 20px;
  left: 10px;
  height: 26px;
  position: absolute;
  padding-top: 0px;
  border-radius: 20px;
  padding-bottom: 0px;
  text-decoration: none;
}
.admin-enroll-list-form1 {
  top: 381px;
  right: 50px;
  width: 200px;
  height: 69px;
  display: flex;
  position: absolute;
  border-radius: 15px;
  background-color: #D9D9D9;
}
.admin-enroll-list-form2 {
  top: 306px;
  right: 50px;
  width: 200px;
  height: 69px;
  display: flex;
  position: absolute;
  border-radius: 15px;
  background-color: #D9D9D9;
}
.admin-enroll-list-form3 {
  right: 50px;
  width: 200px;
  bottom: 53px;
  height: 69px;
  display: flex;
  position: absolute;
  border-radius: 15px;
  background-color: #D9D9D9;
}
.admin-enroll-list-form4 {
  top: 153px;
  right: 49px;
  width: 200px;
  height: 69px;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: 15px;
  justify-content: center;
  background-color: #D0FFE6;
}
.admin-enroll-list-form5 {
  top: 230px;
  right: 48px;
  width: 200px;
  height: 69px;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: 15px;
  justify-content: center;
  background-color: #D0FFE6;
}
.admin-enroll-list-container09 {
  top: 0px;
  flex: 0 0 auto;
  left: 120px;
  width: 342px;
  bottom: 0px;
  height: 295px;
  margin: auto;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4,5px 5px 10px 0px #d4d4d4,5px 5px 10px 0px #d4d4d4,5px 5px 10px 0px #d4d4d4,5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  border-radius: 15px;
  background-color: var(--dl-color-gray-white);
}
.admin-enroll-list-subject {
  top: 23px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 35px;
  text-align: center;
  font-family: "Poppins";
  font-weight: bold;
}
.admin-enroll-list-text31 {
  font-weight: 700;
  text-transform: uppercase;
}
.admin-enroll-list-sort-by {
  top: 89px;
  left: 25px;
  position: absolute;
  font-size: 20px;
  text-align: center;
  font-family: "Poppins";
}
.admin-enroll-list-container10 {
  top: 123px;
  flex: 0 0 auto;
  left: 28px;
  width: 291px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-radius: 20px;
  background-color: #D0FFE6;
}
.admin-enroll-list-select {
  top: 10px;
  right: 20px;
  width: 130px;
  height: 22px;
  position: absolute;
  border-radius: 20px;
}
.admin-enroll-list-grade {
  top: 10px;
  left: 20px;
  position: absolute;
  font-size: 20px;
  text-align: center;
  font-family: "Poppins";
}
.admin-enroll-list-container11 {
  top: 177px;
  flex: 0 0 auto;
  left: 28px;
  width: 291px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-radius: 20px;
  background-color: #D0FFE6;
}
.admin-enroll-list-select1 {
  top: 10px;
  right: 20px;
  width: 130px;
  position: absolute;
  border-radius: 20px;
}
.admin-enroll-list-grade1 {
  top: 10px;
  left: 20px;
  position: absolute;
  font-size: 20px;
  text-align: center;
  font-family: "Poppins";
}
.admin-enroll-list-navlink4 {
  right: 20px;
  width: 293px;
  bottom: 30px;
  height: 31px;
  position: absolute;
  border-radius: 25px;
  text-decoration: none;
}
.admin-enroll-list-footer {
  left: -1px;
  width: 1920px;
  bottom: 3px;
  height: 146px;
  display: flex;
  position: absolute;
  max-width: 100%;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  padding-top: 5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.admin-enroll-list-text39 {
  color: rgba(0, 0, 0, 1);
  right: 0px;
  width: 308px;
  bottom: 7px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-enroll-list-text41 {
  top: 49px;
  left: 32px;
  color: rgba(0, 0, 0, 1);
  width: 311px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: "Poppins";
  font-weight: bold;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-enroll-list-text43 {
  top: 79px;
  left: 32px;
  color: rgba(0, 0, 0, 1);
  width: 288px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Thin;
  text-align: left;
  font-family: "Poppins";
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-enroll-list-text45 {
  top: 58px;
  left: 1031px;
  color: rgba(0, 0, 0, 1);
  width: 144px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 15px;
  font-style: Light;
  text-align: left;
  font-family: "Poppins";
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-enroll-list-text47 {
  top: 62px;
  left: 761px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 15px;
  font-style: Light;
  text-align: left;
  font-family: "Poppins";
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-enroll-list-image {
  top: 14px;
  right: 51px;
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  margin: auto;
  opacity: 1;
  position: absolute;
  object-fit: cover;
}
.admin-enroll-list-image1 {
  top: 14px;
  right: 160px;
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  margin: auto;
  opacity: 1;
  position: absolute;
  object-fit: cover;
}
.admin-enroll-list-pasted-image {
  top: 52px;
  left: 711px;
  width: 45px;
  height: 45px;
  position: absolute;
}
.admin-enroll-list-pasted-image1 {
  top: 48px;
  left: 983px;
  width: 45px;
  height: 45px;
  position: absolute;
}
.admin-enroll-list-link {
  display: contents;
}
.admin-enroll-list-facebook {
  top: 56px;
  left: 1367px;
  width: 45px;
  height: 45px;
  position: absolute;
  text-decoration: none;
}
.admin-enroll-list-instagam {
  top: 57px;
  left: 1441px;
  width: 45px;
  height: 45px;
  position: absolute;
}
@media(max-width: 767px) {
  .admin-enroll-list-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .admin-enroll-list-footer {
    padding: var(--dl-space-space-unit);
  }
}
